/* Add your code in each class */
body {
  background-color: rgb(65, 8, 118);

}
.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    

}
.movie-card {
  object-fit: fill;
  object-position: 100px;
}
.movie-image {
  height: 500px;
  width: 500px;
}
.movie-details-container {
  position:relative;
}
.descriptions {
  position: static;
  color: bisque;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  position: relative;
  color: beige;
}
